@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0rem;
    padding: 2rem;
    background-color: white;
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
}
.hiBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.hiDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
}
.magnifyingDiv{
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    top: 40px;
    right: 0;

    background-color: antiquewhite;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    width: 40px;
    height: 40px;
}
.underline{
    border-bottom: 4px solid black;
}
.loBox{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
