@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0rem;
    padding: 2rem;
    background-color: white;
    position: relative;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
}
.hiBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.hiDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.magnifyingDiv{
    position: absolute;
  
        top: 0;
        right: 0;
        background-color: antiquewhite;
        border-radius: 10px;
        width: 80px;
        height: 80px;
}